@page "/leave-requests"

<MudPaper Class="pa-4">
    <div class="page-title">
        <MudIcon Icon="@Icons.Material.Filled.Event" />
        <MudText Typo="Typo.h5">Leave Requests</MudText>
    </div>

    <MudGrid Class="card-gap">
        <MudItem xs="12" md="6">
            <MudCard>
                <MudCardHeader><MudText Typo="Typo.h6">Choose Dates</MudText></MudCardHeader>
                <MudCardContent>
                    <Calendar OnRangeSelected="OnRange" />
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="6">
            <MudCard>
                <MudCardHeader><MudText Typo="Typo.h6">Request Details</MudText></MudCardHeader>
                <MudCardContent>
                    <RequestForm @ref="_form" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" OnClick="Submit">
                        Submit
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>

        <MudItem xs="12">
            <MudCard>
                <MudCardHeader><MudText Typo="Typo.h6">My Requests</MudText></MudCardHeader>
                <MudCardContent>
                    <RequestList />
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {
    private RequestForm? _form;

    private Task OnRange((DateOnly? Start, DateOnly? End) r)
        => _form?.SetDateRange(r.Start, r.End) ?? Task.CompletedTask;

    private Task Submit()
        => _form?.SubmitAsync() ?? Task.CompletedTask;
}
