@page "/manage-requests"

<MudPaper Class="pa-4">
    <div class="page-title">
        <MudIcon Icon="@Icons.Material.Filled.Rule" />
        <MudText Typo="Typo.h5">Manager Approvals</MudText>
    </div>
    <Components.RequestList ForManager="true" />
</MudPaper>
